.countdown {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.timerItem {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 70px;
  text-align: center;
}

.number {
  font-family: var(--font-quicksand);
  font-weight: 700;
  font-size: 1.8rem;
  color: black;
  line-height: 1;
}

.label {
  font-family: var(--font-quicksand);
  font-size: 0.875rem;
  color: black;
  margin-top: 0.5rem;
}

.expiredMessage {
  background: #1a5632;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: left;
}

.urgentMessage {
  background: #b45309;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
}


/* Tablet */
@media (max-width: 768px) {
  .countdown {
    align-items: center;
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .countdown {
    justify-content: center;
    margin-left: 0;
    gap: 0.75rem;
    flex-wrap: wrap;
  }

  .timerItem {
    min-width: 65px;
    padding: 0.75rem;
    flex: 1 0 20%;
  }

  .number {
    font-size: 1.6rem;
  }

  .label {
    font-size: 0.8rem;
  }
}